.App {
  text-align: center;
}
/* ITERACION 1*/
.idcard{
  display: flex;
  flex-direction: row;
  border:2px solid black;
  margin:5px 50px;
}
.idcard p{
  text-align: left;
  margin-left: 5px;
}
.idcard-img{
  display: flex;
  align-items: center;
}
.box-color
{
  width: 600px;
  height: 200px;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border:2px solid black;
  
}

.credit-card-container{
  display: flex;
  justify-content: center;

}
.credit-card-info {
 display: flex;
 flex-direction: column;
 gap:0;
 align-items: flex-start;
}
.credit-card{
  display: flex;
  justify-content: flex-end;
}
p{
  margin:0;
  padding: 0;
}